@import 'include/font';
@import 'include/reset';
@import 'include/base';

html
{
	font-family: 'Share Tech Mono', monospace;
	font-size: 12px;
}

html, body, #App
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body
{
	color: rgb(200, 200, 200);
	background-color: rgb(28, 31, 36);
}

#App
{
	.component
	{
		&:not(.render)
		{
			display: none;
		}
		
		&.view { @import 'components/View'; }
		&.stack { @import 'components/Stack'; }
		&.toolbar { @import 'components/Toolbar'; }
		&.bar { @import 'components/Bar'; }
		&.button { @import 'components/Button'; }
	}
}